@import "values";


// @include transition;

.clear {
  margin: 0;
  padding: 0;
}

textarea:focus,
input:focus {
  outline: none;
}

.header,
.main,
.footer {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: normal;
}

.container {
  margin: 0 auto;
  padding: 0 20px;

  @media screen and (min-width: $media_queries_mobile) {
  }

  @media screen and (min-width: $media_queries_tablet) {
    padding: 0 80px;
  }

  @media screen and (min-width: $media_queries_desktop) {
    max-width: 1180px;
  }
}

.show {
  display: block !important;
}

.bg-black {
  background-color: $color_bg;
  color: $color_text;
}

.italic{
  font-style: italic;
}

.link-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 69px;
  width: 242px;
  border-radius: 50px 0 20px 0;
  background-color: $color_brand2;

  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  @media screen and (min-width: $media_queries_tablet) {
    width: 332px;
    height: 81px;
    font-size: 30px;
    margin: 0;
  }
}

.logo {
  margin: auto;
  display: block;
  @media screen and (min-width: $media_queries_tablet) {
    margin: 0;
    height: 19px;
    width: 170px;
  }
  @media screen and (min-width: $media_queries_desktop) {
    width: 270px;
    height: 29px;
  }
}

.header {
  // min-height: 100vh;

  box-sizing: border-box;

  background-image: url("../img/bg_main_s.png");
  background-position: center 0px;
  background-repeat: no-repeat;
  min-height: 568px;

  @media screen and (min-width: $media_queries_tablet) {
    background-image: url("../img/bg_main_m.png");
    min-height: 1024px;
  }
  @media screen and (min-width: $media_queries_desktop) {
    background-image: url("../img/bg_main_l.png");
    background-position: top right;
  }

  &__block{
    height: calc(100vh - 30px);
    padding-top: 30px;
    @media screen and (min-width: $media_queries_tablet) {
      height: calc(100vh - 45px);
      padding-top: 45px;
    }
    @media screen and (min-width: $media_queries_desktop) {
      height: calc(100vh - 70px);
      padding: 70px 0 0;
      max-width: 1180px;
    }
  }
}



.main{
  margin-bottom: 110px;
  @media screen and (min-width: $media_queries_tablet) {
    margin-bottom: 140px;
  }
  @media screen and (min-width: $media_queries_desktop) {
    margin-bottom: 105px;
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 176px;
  background-color: $color_bg2;
  @media screen and (min-width: $media_queries_desktop) {
    height: 110px;
    display: block;
    padding-top: 40px;
    box-sizing: border-box;
  }
  &__info{
    margin: 0;
    @media screen and (min-width: $media_queries_desktop) {
      max-width: 1130px;
      margin: auto;
      display: flex;
      justify-content: space-between;
    }
  }
  &__logo{
    margin: 0 0 30px;
    @media screen and (min-width: $media_queries_tablet) {
      width: 270px;
      height: 29px;
    }
    @media screen and (min-width: $media_queries_desktop) {
      margin: 0;
    }
  }
  &__year{
    margin: 0;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: $color_text_dop;
  }
}


.section {
  padding-top: 50px;
  padding-bottom: 50px;
  @media screen and (min-width: $media_queries_tablet) {
    padding-top: 75px;
    padding-bottom: 75px;
  }
  @media screen and (min-width: $media_queries_desktop) {
    padding: 100px 0;
  }
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;

  &__item {
    position: relative;
    margin-bottom: 20px;

    &::before{
      content: "";
      display: block;
      position: absolute;
    }

    &_dash {
      padding-left: 45px;
      @media screen and (min-width: $media_queries_tablet) {
        padding-left: 90px;
        box-sizing: border-box;
        height: 65px;
        margin: 0 0 15px;
        display: flex;
        align-items: center;
      }
      @media screen and (min-width: $media_queries_desktop) {
        font-size: 24px;
        line-height: 140%;
      }

      &::before{
        width: 22.75px;
        height: 0.88px;
        top: 17.5px;
        left: 6.12px;
        background-color: $color_brand2;
        @media screen and (min-width: $media_queries_tablet) {
          width: 40px;
          height: 2px;
          top: 33px;
          left: 11px;
        }
      }
    }

    &_check {
      padding-left: 54px;
      padding-right: 10px;
      @media screen and (min-width: $media_queries_tablet) {
        padding-left: 0;
        margin-bottom: 30px;
        min-height: 35px;
        display: flex;
        align-self: center;
        align-content: center;
        align-items: center;
        gap: 12px;
      }
      @media screen and (min-width: $media_queries_desktop) {
        margin-bottom: 20px;
      }

      &::before{
        width: 34px;
        height: 34px;
        top: 4px;
        left: 0;
        background-image: url("../svg/check.svg");
        background-repeat: no-repeat;

        @media screen and (min-width: $media_queries_tablet) {
          min-width: 45px;
          height: 45px;
          top: 0;
          background-size: contain;
          position: relative;
        }
      }
    }
  }
}

.title {
  font-family: "Playfair Display";
  font-size: 48px;
  font-weight: 400;
  line-height: 51px;
  word-wrap: break-word;
  margin: 150px auto 0;
  max-width: 640px;
  & .italic{
    // text-decoration: underline;
    // display: block;
    display: inline-block;
    border-bottom: 1px solid;
  }

  @media screen and (min-width: $media_queries_tablet) {
    position: absolute;
    bottom: 200px;
    font-size: 68px;
    line-height: 106%;
    margin-left: -20px;
  }
  @media screen and (min-width: $media_queries_desktop) {
    max-width: 1180px;
    font-size: 120px;
    margin: 0;
    top: 305px;
  }
}

.title2 {
  margin: 0 0 40px;

  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 36px;
  line-height: 1;

  @media screen and (min-width: $media_queries_tablet) {
    font-size: 50px;
    line-height: 100%;
    margin-bottom: 60px;
  }
  @media screen and (min-width: $media_queries_desktop) {
    font-size: 80px;
  }
}


.about {
  &__title2 {
    @media screen and (min-width: $media_queries_tablet) {
      margin-bottom: 40px;
    }
    @media screen and (min-width: $media_queries_desktop) {
      margin-bottom: 60px;
    }
  }
  @media screen and (min-width: $media_queries_tablet) {
    padding-top: 65px;
  }

  &-list {
    font-size: 18px;
    line-height: 140%;
    margin-bottom: 35px;
    @media screen and (min-width: $media_queries_tablet) {
      font-size: 20px;
      margin-bottom: 40px;
      max-width: 1080px;
    }
  }
}

.programms {

  &__title{
    line-height: 1.2;
    @media screen and (min-width: $media_queries_tablet) {
      // margin-bottom: 60px;
    }
  }

  &-list{
    margin-bottom: 35px;
    @media screen and (min-width: $media_queries_tablet) {
      margin-bottom: 60px;
    }
    @media screen and (min-width: $media_queries_desktop) {
      margin-bottom: 65px;
      max-width: 1080px;
    }

    &__item{
      display: flex;
      gap: 20px;
      margin-bottom: 17px;
      @media screen and (min-width: $media_queries_tablet) {
        gap: 25px;
        margin-bottom: 30px;
      }
      @media screen and (min-width: $media_queries_desktop) {
        gap: 40px;
        margin-bottom: 48px;
      }

      &::before{
        display: none;
      }
    }
    &__pic {
      min-width: 50px;
      @media screen and (min-width: $media_queries_tablet) {
        min-width: 65px;
      }
      @media screen and (min-width: $media_queries_desktop) {
        min-width: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    &__img {
      margin-top: 10px;
      @media screen and (min-width: $media_queries_tablet) {
        margin-top: 40px;
        width: 65px;
      }
      @media screen and (min-width: $media_queries_desktop) {
        margin-top: 0;
      }
    }

    &__info {
    }
    &__title {
      margin: 0 0 5px;
      font-size: 20px;
      line-height: 140%;
      @media screen and (min-width: $media_queries_tablet) {
        font-size: 24px;
        margin-bottom: 10px;
      }
      @media screen and (min-width: $media_queries_desktop) {
        font-size: 30px;
        letter-spacing: 0.43px;
      }
    }
    &__desc {
      margin: 0;
      font-size: 16px;
      line-height: 140%;
      color: $color_text_dop;
      @media screen and (min-width: $media_queries_tablet) {
        font-size: 18px;
      }
    }
  }
}

.result {

  &__title{
    line-height: 1.2;
  }

  &-list {
    font-size: 20px;
    line-height: 140%;
    @media screen and (min-width: $media_queries_tablet) {
      font-size: 24px;
      margin-bottom: 63px;
    }
  }
}

.forms {
  &__title{
    text-align: center;
    @media screen and (min-width: $media_queries_tablet) {
      margin-bottom: 50px;
    }
    @media screen and (min-width: $media_queries_desktop) {
      margin-bottom: 55px;
    }
  }

  &__desc {
    margin: 0 auto 20px;
    text-align: center;
    color: $color_text_dop;
    font-size: 18px;
    line-height: 140%;
    max-width: 800px;
    @media screen and (min-width: $media_queries_tablet) {
      font-size: 20px;
    }
    @media screen and (min-width: $media_queries_desktop) {
      font-size: 24px;
      margin: 20px auto;
    }
  }
}

.form {
  margin: 40px auto 0;
  max-width: 510px;
  @media screen and (min-width: $media_queries_tablet) {
    margin: 50px auto 0;
  }
  @media screen and (min-width: $media_queries_desktop) {
    margin-top: 40px;
  }

  &__input {
    margin: 10px 0 5px;
    box-sizing: border-box;
    border-radius: 20px;
    color: $color_text;
    width: 100%;
    font-family: "Playfair Display";

    &::-moz-placeholder,
    &::-webkit-input-placeholder {
      color: #89849D;
    }

    &_text {
      border: 0.5px solid #494365;
      padding: 24.5px 30px;
      background: #141027;
      font-size: 18px;
      line-height: 140%;
      @media screen and (min-width: $media_queries_tablet) {
        height: 80px;
        margin-top: 20px;
        font-size: 24px;
      }
    }
    &_submit {
      font-size: 24px;
      line-height: 140%;
      height: 79px;
      background-color: $color_brand2;
      border: none;
      width: 267px;
      margin: 0;
      cursor: pointer;
      @media screen and (min-width: $media_queries_tablet) {
        margin-bottom: 5px;
      }
    }

    &_error {
      background-color: $color_form_error1;
      border-color: $color_form_error2;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 140%;
    color: $color_text_dop;
    @media screen and (min-width: $media_queries_tablet) {
      margin-bottom: 40px;
    }
    @media screen and (min-width: $media_queries_desktop) {
      margin-bottom: 35px;
    }
  }

  &__link {
    color: $color_brand3;
    text-decoration: none;
    @media screen and (min-width: $media_queries_desktop) {
      display: inline-block;
    }
  }

  &__message {
    display: none;
    font-size: 14px;
    line-height: 140%;
    margin: 0 30px;
    &_error {
      color: $color_form_error;
    }
  }
}



.calendar {
  margin-bottom: 35px;
  @media screen and (min-width: $media_queries_desktop) {
    margin-bottom: 45px;
  }

  &__months{
    display: flex;
    gap: 20px;
    margin: 40px 0 0;
    overflow: auto;
    @media screen and (min-width: $media_queries_tablet) {
      margin-top: 30px;
    }
    @media screen and (min-width: $media_queries_desktop) {
      margin-top: 50px;
      gap: 40px;
    }
  }
  &__month{
    font-size: 18px;
    line-height: 140%;
    color: $color_text_dop;
  }

  &-line{
    border: 1px solid #1A162D;
    // margin: 0 29px 0 19px;
  }

  &__days{
    display: flex;
    color: $color_text;
    margin: 10px 0;
    @media screen and (min-width: $media_queries_tablet) {
      gap: 5px;
    }
    @media screen and (min-width: $media_queries_desktop) {
      margin-top: 20px;
    }
  }
  &-day{
    display: flex;
    min-width: 64px;
    height: 89px;

    border-radius: 71px;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    cursor: pointer;

    &.active{
      background: #0E0B1D;
    }

    &-info{
      display: flex;
      flex-direction: column;
    }

    &__numb{
      font-size: 24px;
      line-height: 140%;
      @media screen and (min-width: $media_queries_desktop) {
        font-size: 30px;
      }
    }
    &__weekday{
      font-size: 18px;
      line-height: 140%;
    }
  }
}

.calendar__months::-webkit-scrollbar {
  height: 5px;
  background-color: $color_text_dop;
  transition: all 0.5s ease-in-out;
}
.calendar__months::-webkit-scrollbar-thumb {
  background-color: $color_brand2;
}
.calendar__months::-webkit-scrollbar-thumb:hover {
  background-color: $color_brand2_dop;
}


.events {
  @media screen and (min-width: $media_queries_desktop) {
    font-size: 18px;
  }

  &__title2 {
    @media screen and (min-width: $media_queries_tablet) {
      margin-bottom: 40px;
    }
    @media screen and (min-width: $media_queries_desktop) {
      margin-bottom: 55px;
    }
  }

  &__desc {
    font-size: 20px;
    line-height: 140%;
    @media screen and (min-width: $media_queries_tablet) {
      font-size: 24px;
      margin: 0;
    }
    @media screen and (min-width: $media_queries_desktop) {
      font-size: 30px;
      line-height: 120%;
    }
  }

  &-list {
    margin: 0;
    @media screen and (min-width: $media_queries_desktop) {
      max-width: 1080px;
    }

    &__item {
      @media screen and (min-width: $media_queries_desktop) {
        display: flex;
        gap: 60px;
      }
    }

    &__img {
      border-radius: 5px;
      @media screen and (min-width: $media_queries_tablet) {
        width: 250px;
      }
      @media screen and (min-width: $media_queries_desktop) {
        width: 380px;
        height: auto;
      }
    }
    &__title{
      font-size: 24px;
      line-height: 140%;
      margin: 10px 0 5px;
      @media screen and (min-width: $media_queries_desktop) {
        margin-top: 0;
      }
    }
    &__desc{
      margin: 0 0 25px;
      @media screen and (min-width: $media_queries_desktop) {
        font-size: 18px;
      }
    }
    &__place{
      margin: 0 0 25px;
      @media screen and (min-width: $media_queries_tablet) {
        display: flex;
        margin-bottom: 20px;
      }
    }
    &__place-title{
      margin: 0 0 5px;
      display: block;
      @media screen and (min-width: $media_queries_tablet) {
        margin-right: 10px;
      }
    }
    &__place-info{

    }
    &__time{
      margin: 0;
      @media screen and (min-width: $media_queries_tablet) {
        display: flex;
      }
    }
    &__time-title{
      @media screen and (min-width: $media_queries_tablet) {
        margin-right: 10px;
      }
    }
    &__time-value{

    }
  }
}

.partners {
  &__title{
    text-align: center;
    @media screen and (min-width: $media_queries_tablet) {
      text-align: left;
    }
  }
  &-list{
    @media screen and (min-width: $media_queries_tablet) {
      display: flex;
      gap: 10px;
    }
    @media screen and (min-width: $media_queries_desktop) {
      gap: 20px;
    }
    &__item{
      display: flex;
      width: 240px;
      height: 120px;
      justify-content: center;
      margin: 0 auto 10px;
      border-radius: 10px;
      background-color: #0b0817;
      @media screen and (min-width: $media_queries_tablet) {
        margin: 0;
        width: 190px;
        height: 150px;
      }
      @media screen and (min-width: $media_queries_desktop) {
        width: 380px;
        height: 220px;
      }
    }
    &__item-logo{
      width: fit-content;
    }
  }
}
